body {
  margin: 0;
}

.AutoRotator {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 0 30px;
  background: #419be0;
  height: 100vh;
}

.slick-slide {
  text-align: center;
  color: #419be0;
  background: white;
  opacity: 0.7;
}
.slick-current {
  opacity: 1.0;
}

.Carousel__pane {
  margin: 0 20px;
  width: 100%;
  max-width: 500px;
  height: 440px;
}

.Carousel__Input {
  position: relative;
}
.Input__ImageSelect {
  position: relative;
  height: 400px;
}
.ImageSelect__prompt {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  z-index: 10;
}
.ImageSelect__prompt--reselect {
  background-color: rgba(0, 0, 0, 0.5);
}
.ImageSelect__input {
  display: none;
}
.ImageSelect__preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  z-index: 9;
}

.Input__Options {
  padding: 10px 10px 0 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-top: 1px solid blue;
}

.Carousel__Output {
  position: relative;
}
.Output__ImageOutput {
  position: relative;
  height: 400px;
}
.ImageOutput__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
.Output__Actions {
  padding: 10px 10px 0 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-top: 1px solid blue;
}
