body {
  margin: 0;
}

.AutoRotator {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 0 30px;
  background: #419be0;
  height: 100vh;
}

.slick-slide {
  text-align: center;
  color: #419be0;
  background: white;
}
.Carousel__pane {
  margin: 0 20px;
  width: 100%;
  max-width: 500px;
  height: 400px;
}

.Carousel__ImageSelect {
  position: relative;
  cursor: pointer;
}
.ImageSelect__prompt {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.ImageSelect__prompt--reselect {
  background-color: rgba(0, 0, 0, 0.5);
}
.ImageSelect__input {
  display: none;
}
.ImageSelect__preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  z-index: 9;
}

.Options__retryButton {
  display: none;
}
