html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #fcfcfc;
}

.borderlessButton {
  padding: 6px 8px;
  border: none;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  color: #419be0;
  font-size: 16px;
}
.borderlessButton:hover {
  background-color: #f2f2f2;
}

.AutoRotator {
  margin: 30px auto;
  width: 100%;
  max-width: 800px;
  padding: 20px 30px;
  height: 700px;
}
.AutoRotator__Title {
  margin: 0 0 30px 0;
  text-align: center;
  color: #333;
  font-family: "Raleway", sans-serif;
}

.slick-list {
  position: relative;
  height: 500px;
}
.slick-track {
  position: relative;
  top: 25px;
}
.slick-slide {
  text-align: center;
  color: #419be0;
  background: #fff;
  opacity: 0.7;
  border: 3px solid #333;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.slick-current {
  box-shadow: 0px 0px 30px 5px #ccc;
  opacity: 1.0;
}
.slick-slide:not(.slick-current) {
  transform: scale(0.85);
  transition: ease 300ms;
}

.Carousel__pane {
  margin: 0 20px;
  width: 100%;
  max-width: 500px;
  height: 450px;
}

.Carousel__Input {
  position: relative;
}
.Input__ImageSelect {
  position: relative;
  height: 400px;
}
.ImageSelect__prompt {
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  z-index: 10;
}
.ImageSelect__prompt--reselect {
  background-color: rgba(0, 0, 0, 0.5);
}
.ImageSelect__input {
  display: none;
}
.ImageSelect__preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  z-index: 9;
}

.Input__Options {
  padding: 8px 15px 0 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid #333;
}

.Carousel__Output {
  position: relative;
}
.Output__ImageOutput {
  position: relative;
  height: 400px;
}
.ImageOutput__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
.Output__Actions {
  padding: 10px 10px 0 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-top: 3px solid #333;
}
